@import "core/colors.scss";

html,
#app,
.App,
.App > .row {
  height: 100%;
  min-height: 100vh;
}
body {
  overflow: overlay;
}
body,
#app,
.App {
  min-height: 100%;
}

a {
  color: $color3;
}
.App {
  background-color: $color1;
  color: $color4;

  #midCol {
    border-left: 1px solid $color4;
    border-right: 1px solid $color4;
  }

  .btn:focus {
    outline: none !important;
    outline-offset: none !important;
  }

  /****************** TO DELETE IN THE FUTURE ***************************/

  .pcCard {
    background-color: $color2;
    color: $color4;
    border: 1px solid $color4;
  }

  .imgCard > div {
    padding: 5px;
    height: 162px;
  }
  .imgCard {
    height: 250px;
    width: 12rem;
    margin: 5px;
    text-align: center;

    .card-title {
      text-align: center;
    }
    button {
      bottom: 0;
      position: absolute;
      left: 32%;
    }
    .main-image {
      max-height: 100%;
      max-width: 100%;
    }
  }

  /**********************************************************************/

  // Makes exterior of element rounded
  .rounded {
    border-bottom-left-radius: 9999px !important;
    border-bottom-right-radius: 9999px !important;
    border-top-left-radius: 9999px !important;
    border-top-right-radius: 9999px !important;
  }

  // Aligns items inside div vertically
  .vAlign {
    vertical-align: middle;
    display: flex;
  }

  // Aligns items inside div in center
  .mAlign {
    display: flex;
    justify-content: center;
  }
}
