.App {
    #pc-principalNavbar .navbar-nav {
        width: 100%;

        .nav-link {
            margin: 0 auto;
        }
    }

    .navbar.bg-primary {
        background-color: transparent !important;
    }

    .navbar {

        .navbar-brand {
            color: #4a3e3e !important;
        }

        .nav-link {
            color: rgba(59, 81, 236, 0.5) !important;
        }

        .nav-link:focus {
            color: rgba(141, 165, 243, 0.5) !important;
        }
    }

    // UserCard
    .userCard {
        margin: 15px 0px 0px 15px;
        width: 200px;

        .userCard-body {
            text-align: center;
            padding: 1rem;


            &__header {
                height: 310px;

                .userImage {
                    width: 150px;
                    height: 150px;
                    display: block;
                    margin: auto;
                    border: 2px solid #ccc !important;
                    border-radius: 50%;
                    box-sizing: content-box;

                    .userImg {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                    }
                }

                .userName {}

                .userBio {
                    color: #53adda;
                }
            }

            &__footer {}
        }

    }

    // Pic Crop
    .floatingPicCrop:before {
        /* Center vertically, part 1 */
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }



    .floatingPicCrop {
        z-index: 2;
        background: rgba(0, 0, 0, .6);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        text-align: center;
        /* Center horizontally */

        .picCropDialog {
            background-color: #fff;
            display: inline-block;
            vertical-align: middle;
            /* Center vertically, part 2 */
            padding: 1em;
            border-radius: 5px;

            .croppedImage {
                border-radius: 50%;
                position: fixed;
                width: 150px;
                height: 150px;
                top: 15px;
                left: 15px;
            }

            .submit-btn,
            .cancel-btn {
                margin-right: 15px;
            }
        }

        .ReactCrop__image {
            max-height: calc(100vh - 150px);
        }


    }

    /*.picCrop+.btns {
        z-index: 2;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }*/
    .btn:focus {
        outline: none !important;
        outline-offset: none !important;
    }

}