@import "core/colors.scss";

/**** Go back link ****/ 

.goBackLink {
  color: $color5;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  align-items: center;

  .arrowBack {
    width: 1.3em;
    height: 1.3em;
  }
}
