@import "core/colors.scss";

/***************** Profile *******************/

#profile {
  .imageHeader {
    position: relative;
    margin-bottom: 10px;

    .landscape {
      width: 100%;
      padding-top: 37%;

      .landscapeImg {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0vw;
      }
      .no-landscape {
        object-fit: cover;
        filter: blur(2px);
      }
    }

    .userImage {
      top: 14vh;
      width: 14.1vw;
      height: 14.1vw;

      .userImg {
        width: 14vw;
        height: 14vw;
        margin-top: 0.05vw;
        margin-left: 0.05vw;
      }
    }

    .userImage {
      margin: auto;
      display: block;
      border: 4px solid white !important;
      border-radius: 50%;
      box-sizing: content-box;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      .userImg {
        border-radius: 50%;
      }
    }
  }

  .userName {
    font-size: calc(1em + 0.5vw);
    color: $color3;
    margin-left: 25px;
  }
  .stalkButton {
    text-align: end;
    margin-right: 25px;
  }
  .stalkers a,
  .stalking a,
  .linkLikes,
  .linkPostsAmount {
    text-decoration: none;
    font-size: 1.2em;
  }
  .stalkers a,
  .stalking a {
    color: $color7;
  }
  .likes {
    color: $color6;
  }
  .postsAmount {
    color: $color5;
  }
  .stalking,
  .postsAmount {
    padding-right: 7vw;
    text-align: right;
  }
  .stalkers,
  .likes {
    padding-left: 7vw;
  }

  .postsAmount,
  .likes {
    border: 1px solid $color4;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .userBio {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
}
@media (max-width: 920px) {
  #profile {
    .imageHeader {
      .userImage {
        top: 16vw;
        width: 18.1vw;
        height: 18.1vw;

        .userImg {
          width: 18vw;
          height: 18vw;
        }
      }
    }
    .likes {
      margin-top: 0vh !important;
    }
  }
}
