@import "core/colors.scss";

/***************** User Posts *******************/

#userPosts {
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;

  .userPost:last-child {
    border-bottom: 2px solid $color4;
  }
  .userPost {
    border: 2px solid $color4;
    border-bottom: none;
    padding: 15px 25px 15px 25px;
    position: relative;

    .repostBody {
      border: 2px solid $color9;
      border-radius: 5px;
      padding: 12px;
      margin-bottom: 5px;
    }
    .repostHeader,
    .postHeader,
    .answeredPostHeader {
      display: inline-flex;
      margin-bottom: 5px;
      align-items: center;
      span {
        margin-left: 6px;
      }
      .avatarImg {
        margin-right: 6px;
      }
    }

    .postHeader {
      .user {
        display: inline-flex;
        align-items: center;
        .postUserName {
          font-weight: 500;
        }
      }
    }
    .postText {
      padding-bottom: 20px;
      margin-left: 56px;
    }

    // Floating post image when clicked
    .postImg {
      margin-bottom: 20px;
      margin-left: 56px;
      > .postImg__img {
        cursor: pointer;
        border-radius: 12px;
        max-height: 22vh;
        max-width: 43vw;
      }
    }
    .floatingImg::before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .floatingImg {
      z-index: 2000;
      background: rgba(0, 0, 0, 0.6);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      text-align: center;
      cursor: pointer;
      > .postImg__img {
        max-height: 85%;
        max-width: 85%;
      }
    }

    // Answer to post
    .answeredPost {
      border: 1px solid $color2;
      padding: 10px;
      background-color: $color2;
      margin-top: 3px;
      margin-bottom: 3px;
      border-radius: 6px;

      &__creatorName {
        color: $color3;
      }
      &__image {
        margin-right: 10px;
      }
      &__text {
        margin-left: 50px;
      }
    }

    .userPostActions {
      display: inline-flex;
      align-items: center;
      div {
        margin-right: 10px;
        display: inline-flex;
        align-items: center;
      }
      svg {
        margin-right: 5px;
        cursor: pointer;
      }
    }

    .likeButton,
    .likedButton,
    .repostButton,
    .repostedButton {
      transition-duration: 0.2s;
    }
    .likedButton {
      fill: #e0245e;
    }
    .like:hover {
      color: rgb(224, 36, 94);
    }
    .repostedButton {
      fill: $color9;
    }
    .repost:hover {
      color: $color9;
    }

    .likedButton:hover,
    .likeButton:hover {
      background-color: rgba(224, 36, 94, 0.1);
    }
  }
  .floatingSubmitPost {
    z-index: 2001;
  }
}
