@import "core/colors.scss";

/******************** Sidebar **********************/

#sidebar {
  #brandName {
    margin-top: 30px !important;
    color: $color8 !important;
  }
  .nav-link {
    color: $color4 !important;
    font-weight: 700;
    font-size: 22px;
    align-items: center;
    padding: 1px;
    margin-top: 5px;
    margin-bottom: 5px;

    .sidebar-link:hover {
      background-color: rgba(29, 161, 242, 0.1);
    }
    .sidebar-link {
      border-radius: 9999px;
      transition-duration: 0.2s;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      display: inline-flex;
    }

    svg {
      width: 1.2em;
      height: 1.2em;
      margin-right: 5px;
    }
    .notificationBubble {
      background-color: $color6;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 25px;
      top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      .newNotifications {
        font-size: 12px;
        color: $color4;
      }
    }
  }

  .mAlign {
    display: flex;
    justify-content: center;
  }
  .stalkerRequests {
    font-weight: 700;
    color: $color4 !important;
  }

  .nav-link:focus {
    color: $color3 !important;
  }

  .postBtn {
    width: 160px;
    border-radius: 20px;
  }
  .avatarImg {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80px !important;
    height: 80px !important;
    img {
      cursor: pointer;
    }
  }
}

/* Adaptative sidebar */
@media (max-width: 920px) {
  .nav-link {
    display: flex;
    justify-content: center;
  }
  #sidebarCol {
    flex: 0 0 20%;
    max-width: 20%;
  }
  #midCol {
    flex: 0 0 80%;
    max-width: 80%;
  }
  #rightCol {
    display: none;
  }
  .nav-link {
    margin-right: 5px;
    width: 100%;
    justify-content: center;
  }
  #sidebar > * {
    flex-direction: row-reverse;
  }
  #sidebar .navText {
    display: none;
  }
  #sidebar {
    .nav-link {
      svg {
        width: 1.3em !important;
        height: 1.3em !important;
        margin-right: 0px !important;
      }
    }

    .avatarImg {
      width: auto !important;
      height: auto !important;
    }
    .postBtn {
      width: 10px !important;
      width: 41px !important;
      height: 41px;
      justify-content: center;
      display: flex;
    }
  }
  .loginForm {
    display: none;
  }
}
